<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
  Caixa
</title>
<!-- Favicon -->
<link href="../../static/assets/img/brand/favicon.png" rel="icon" type="image/png">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<!-- Icons -->
<link href="../../static/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
<link href="../../static/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
<!-- CSS Files -->
<link href="../../static/assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
</head>

<body>


  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 ">
          <span class="badge badge-dot"> Logo</span>
        </div>
        <div class="col-sm-6  text-center">
          <span class="badge badge-dot"> <i class="bg-success"></i> Operador(a): Gabriel Barbosa</span>
          </div>
        <div class="col-sm-3  text-right">
          <a href="#"> <span class="badge badge-dot input-group-text"> Sair do Caixa </span> </a>
        </div>
      </div>
    </div>

  <!-- Linha aonde fica o nome do produto-->
    <nav class="centro">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 nomeProduto">Nome do produto</span>
      </div>
    </nav>


  <!--Criando -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mt-2">
          <a href="#"> <span class="badge badge-dot links"> Definir Cliente (F2)</span> </a>
        <div class="row">
        <div class="col-sm-12">
        <div class="input-group mb-3 mt-4">
          <div class="input-group  mb-3 sombra">
            <div class="input-group-prepend">
              <span class="input-group-text " id="inputGroup-sizing">Produto</span>
            </div>
            <input type="search" class="form-control form-control-rounded form-control-prepended borda text-right" aria-label="search" aria-describedby="inputGroup-sizing">
            <div class="input-group-prepend">
              <div class="input-group-text borda ">
                <span class="fa fa-search "></span>
              </div>
            </div>
          </div>
          </div>
        </div>
          <div class="col-sm-6 mt-1">
          <div class="input-group input-group mb-3 sombra">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Quantidade</span>
            </div>
            <input type="text" class="form-control borda text-right" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
        <div class="col-sm-6 mt-1">
          <div class="input-group input-group mb-3 sombra">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Valor do item</span>
            </div>
            <input type="text" class="form-control borda text-right" aria-label="Sizing example input" aria-describedby="inputGroup-sizing">
          </div>
        </div>
        <div class="col-sm-12 text-center mt-4 ">
            <img src="../../static/assets/img/theme/profile-cover.jpg" class="imagem sombra" alt="...">
        </div>
        </div>
        <div>
        </div>
      </div>
      <div class="col-sm-6 mt-2">
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive sombra">
            <div class="tabela">
            <table class="table align-items-center">
            <thead class="tabela">
                <tr>
                    <th scope="col">
                      <a href="#"> <span class="DescontoItem"> Desconto (F6) </span> </a>
                    </th>
                    <th scope="col ">
                        <a href="#"> <span class="CancelarItem"> Cancelar Item (F5) </span> </a>
                    </th>

                </tr>
            </thead>
            <tbody class="list">
                <tr>
                    <th scope="row" class="name">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm Valor">001</span>
                            </div>
                        </div>
                    </th>
                    <td scope="row" class="name">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm">Blusa do Flamengo</span>
                            </div>
                        </div>
                    </td>
                    <td scope="row" class="name">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm">2 un x </span>
                                <span class="mb-0 text-sm">R$ 25,00</span>
                            </div>
                        </div>
                    </td>
                    <td scope="row" class="name">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm Valor">R$ 50,00</span>
                            </div>
                        </div>
                    </td>





                </tr>
                <tr>
                    <th scope="row" class="name">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm Valor">001</span>
                            </div>
                        </div>
                    </th>
                    <td scope="row" class="name">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm">Blusa do Flamengo</span>
                            </div>
                        </div>
                    </td>
                    <td scope="row" class="name">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm">2 un x </span>
                                <span class="mb-0 text-sm">R$ 25,00</span>
                            </div>
                        </div>
                    </td>
                    <td scope="row" class="name">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm Valor">R$ 50,00</span>
                            </div>
                        </div>
                    </td>





                </tr>


            </tbody>
            </table>
            </div>
            </div>
          </div>
          <div class="col-sm-12 mt-3">
            <div class="row">
              <div class="col-sm-3">
                <span class="badge badge-dot input-group-text"> Itens: </span>
                <span class="badge badge-dot  Valor"> 5000</span>
              </div>
              <div class="col-sm-3 teste">
                <span class="badge badge-dot input-group-text"> Qtd:</span>
                <span class="badge badge-dot  Valor"> 5000</span>
              </div>
              <div class="col-sm-6">
                <span class="badge badge-dot input-group-text"> Desconto/Devolução: </span>
                <span class="badge badge-dot Valor"> R$ 23000,00</span>
              </div>
            </div>
            </div>
            <div class="col-sm-12 mt-3">
              <button type="button" class="btn btn-primary btn-lg btn-block sombra">
                <span class="texto"> Finalizar Venda</span>
              </button>
            </div>
        </div>
      </div>
      </div>

      <div class="row">
        <div class="col-sm-2 mt-5">
          <button class="btn btn-icon btn-3 btn-primary btn-block sombra" type="button">
            <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
              <span class="btn-inner--text">Cancelar </span>
            </button>
        </div>
        <div class="col-sm-2 mt-5">
          <button class="btn btn-icon btn-primary btn-block sombra" type="button">
            <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
              <span class="btn-inner--text">Consulta </span>
            </button>
        </div>
        <div class="col-sm-2 mt-5">
          <button class="btn btn-icon btn-primary btn-block sombra" type="button">
            <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
              <span class="btn-inner--text">Pedido </span>
            </button>
        </div>
        <div class="col-sm-2 mt-5">
          <button class="btn btn-icon btn-primary btn-block sombra" type="button">
            <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
              <span class="btn-inner--text">Abrir gaveta </span>
            </button>
        </div>
        <div class="col-sm-2 mt-5">
          <button class="btn btn-icon btn-primary btn-block sombra" type="button">
            <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
              <span class="btn-inner--text">Devolução </span>
            </button>
        </div>
      </div>

    </div>










<script src="../../static/assets/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="../../static/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--   Optional JS   -->
<script src="../../static/assets/js/plugins/chart.js/dist/Chart.min.js"></script>
<script src="../../static/assets/js/plugins/chart.js/dist/Chart.extension.js"></script>
<!--   Argon JS   -->
<script src="../../static/assets/js/argon-dashboard.min.js?v=1.1.0"></script>
</body>

</html>
